body{
    margin: 0px;
    /*background-color: gold !important;*/
}

.navbar{
    background-color:grey !important;
}

.landing-contain{
    border: 1px solid;
    padding: 0;
    
}

.jumbotron{
    background-image: url("img/Downtown-Cleve.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
    
}

