html,
body{
    height: 100%;
    width: 100%;
}

.navbar{
    background-color: #23415C !important;
}


img{
    height: 300px;
    width: 300px;
}

.home{
    background: url("/img/Cleveland-2.jpg");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;

}
